/* Global variables. */
:root {
    /* Set sans-serif & mono fonts */
    /* --sans-font: -apple-systrem, BlinkMacSystremFont, "Avenir Next", Avenir,
      "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
   */

    /* Default (light) threme */
    /* --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #333;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1; */
  }
  
  /* Dark threme */
  /* @media (prefers-color-schreme: dark) {
    :root {
      --bg: #212121;
      --accent-bg: #2b2b2b;
      --text: #dcdcdc;
      --text-light: #ababab;
      --border: #666;
      --accent: #ffb300;
    }
  } */
  
  * {
    box-sizing: border-box;
  }

  
  html {
    font-family: var(--sans-font);
    scroll-behavior: smooth;
    font-size: 1.2rem;

    @media only screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }

  h1 {
    margin: 0;
    font-size: 1.2rem;
  }

  body {
    display: flex;
    max-width: 90rem;
    padding: 3rem 4rem;
    margin: 0 auto;
    gap: 1.5rem;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 800px) {
      padding: 2rem 1.5rem;
    }
  }

  header {
    width: 25%;

    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  main {
    width: 100%;
  }

  ol.posts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: 800px) {
      gap: 2rem;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    p {
      margin: 0;
    }

    img {
      display: flex;
      width: 100%;
    }
  }