---
layout: /layouts/base.njk
pagination:
  data: collections.posts
  size: 5
  alias: paginatedPosts
---

<ol class="posts">
  {% for post in paginatedPosts %}
  <li>
    {% if post.data.image %}
    <img src="{{ post.data.image }}" alt="Post Image" loading="lazy">
    {% endif %}

    <p class="date">// {{ post.date | date: "%d-%m-%Y" }}</p>
    <p class="content">{{ post.content }}</p>
  </li>
  {% endfor %}
</ol>

<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{pagination.href.previous}}"><<</a>
  {% endif %}
  
  {% if pagination.href.next %}
    <a href="{{pagination.href.next}}">>></a>
  {% endif %}
</div>